@charset "utf-8";


/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* eric/css/reset/end. */
body {
    font-family:
        /*英⽂*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中⽂*/
        "蘋⽅-繁", "PingFang TC", "Noto Sans TC", "⿊體-繁", "Heiti TC", "微軟正⿊體", "Microsoft JhengHei", sans-serif;
    background-color: #f2edf0;
    background-image: url(../images/body_bg.png);
}

/* header區 */

.navbar{
    width: 100%;
    height: 100px;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
}
.container-fluid{
    width: 1200px;
}
.navbar-toggler{
    z-index: 10;
    border: solid 0;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0; 
}

.navbar-logo {
    position: fixed;
}

.navbar-logo img{
    height: 70px;
    width: 70px;
}

.page-link{
    display: flex;
    position: fixed;
    transform: translateX(120px);
}

.nav-page a{
    margin: 0 10px ;
    color: black;
}

.nav-page a:hover{
    color: orange;
}

.offcanvas-header{
    padding: 0;
    margin: 10px 15px ;
    display:flex;
}
.offcanvas-top{
    display: flex;
    align-items: center;
}

.offcanvas-top h3{
    margin-left: 20px;
}

.offcanvas-logo  img{
    height: 40px;
    width: 40px;
}

.offcanvas-href{
    display: flex;
    margin: 0 10px;
}

.offcanvas-icon{
    margin: 0 3px;
}

.offcanvas-icon img{
    height: 30px;
    width: 30px;
}

.offcanvas-area{
    font-size: 30px;
    box-shadow: 4px 3px 0px;
    
}

.offcanvas-page{
    margin: 20px 0;
}

.offcanvas-link{
    font-size: 18px;
    color: black;
    text-decoration:none;
}

.offcanvas-button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 1rem;
    color: black;
    background-color: rgb(250, 235, 215);
    appearance: button;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
}

a.offcanvas-button:hover{
    color: black;
}

.nav-item a img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.top-0{
    top: 20% !important;
}

.start-100{
    left: 80% !important;
}

.box-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box-login p1 {
    font-size: 2rem;
    margin: 30px;

}

.alert {
    font-size: 1rem;
    margin: 30px;
    width: 85%;
    padding: 0;
}

.alert p {
    display: block;
    padding: 5px;
    margin: 5px;
    line-height: 25px;
    align-items: center;
    overflow: auto;
}

.button-login {
    flex-direction: row;
}

.box {
    margin: 0 auto;
    background-clip: padding-box;
    text-align: center;
}

.nav-item {
    display: block;
    height: 70px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999 !important;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #333;
    font-size: 2rem;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
    color: #0a9444a4;
}

#search-form{
    position: relative;
    margin: 20px 0px 0px 10px;
}
#submit-btn{
    position: absolute;
    top: 5px;
    right: 15px;
    width: 25px;
    height: 25px;
    background: url(../images/search_icon_1.svg);
    background-repeat: no-repeat;  /* 不再重複填滿 */
    background-color: transparent; /* 背景色改透明 */
    border: none;  /* 框線取消 */
}

.overlay1 {
    position: fixed;
    left: 0;
    right: 0;
    transition: opacity 100ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999 !important;
}

.overlay1:target {
    visibility: visible;
    opacity: 1;
}

.popup1 {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup1 h2 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #333;
    font-size: 2rem;
}

.popup1 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup1 .close:hover {
    color: #06D85F;
    color: #0a9444a4;
}



.carousel-item {
    z-index: -1 !important;
    height: 100vh;
}

.forH5{
    display: flex;
    justify-content: space-between;
    position: fixed;
    transform: translateX(30px);
}

#fanButtom{
    position: fixed;
    right: -15px;
    bottom: 120px;
    width: 100px;
    height: 100px;
    z-index: 1;
}


@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }

}
@media (max-width:1095px) {
    .nav-page > .nav-link{
        padding: 10px;
    }
    .carousel-item {
        height: 60vh;
    }
}

@media (max-width:1045px) {
    .nav-page > .nav-link{
        padding: 2px;
    }
    .carousel-item {
        height: 50vh;
    }
}

 /* 991-992 */
@media (max-width:991px) {
    .navbar-logo{
        visibility: hidden;
    }
    .page-link{
        visibility: hidden;
    }
    #fanButtom{
        visibility: hidden;
    }
    .carousel-item {
        height: 40vh;
    }
    .navbar{
        background-color: rgba(46, 184, 103, 0.769);
        height: 70px;
        padding: 0;
    }
}

@media (min-width:992px) {
    .navbar-toggler{
        visibility: hidden;
    }
    .forH5{
        visibility: hidden;
    }
}

@media (max-width:591px) {
    .form-control {
        width: 180px;
    }
}

@media (max-width:565px) {
    .form-control {
        width: 120px;
    }
}

@media (max-width:505px) {
    .btn-transparent{
        width: 100px;
    }
}

@media (max-width:499px) {
    .btn-transparent{
        width: 100px;
    }
}


/* 內容區 */
main {
    min-height: calc(100vh - 25px);
}
.layout-cell {
    margin: 0 auto;
    max-height: fit-content;
    
}

.product-title {
    padding-top: 50px;
    padding-bottom: 45px;
    margin: 0;
}

.product-title-container {
    color: #7a6247;
    font-size: 28px;
    line-height: 30px;
    display: inline-block;
    position: relative;
    padding-left: 45%;
}

.product-list {
    margin: 0px -10px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: center;
}

.product {
    width: 25%;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 15px 10px;

}

.product-item {
    display: block;
    position: relative;
}

.product-item:hover {
    opacity: 0.7;
    border-color: transparent;
    
}

.product-img {
    border: 1px;
}

.product-img img {
    width: 100%;
    height: auto;
}


.addToCart {
    /* width: 120px;
    height: 30px;
    font-size: 20px; */
    position: absolute;
    top: 350px;
    left: 40px;
    bottom: 35px;
    width: 80%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 0;
    border-color: transparent;
    border-radius: 10px/50px;
    
    
}
.addToCart:hover {
    background: rgba(251, 159, 10, 1);
    color: #fff;
}

.product-item:hover .addToCart{
    opacity: 1;
    
}
.product-info {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #333;
    background-color: antiquewhite;
}

.product-forSale {
    position: relative;
}

.discount-label {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #e91e63;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
}

.product-price {
    text-decoration: line-through; /* 添加删除线 */
    margin-right: 10px; /* 为了让優惠價格紧挨着商品价格，可以调整此间距 */
}

@media (max-width:1440px) {
    .product-list {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width:991px) {
    .product-list {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width:768px) {
    .product-list .product:nth-child(n+3){
        display: none;
    }
    .product {
        width: 35%;
    }
}

@media (max-width:565px) {
    .product {
        width: 40%;
    }
}

@media (max-width:505px) {
}



/* footer區 */

#gotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-color: #b289a2;
    border-radius: 25px;
    cursor: pointer;
    color: #ecf0f4;
    font-size: 40px;
    text-align: center;
    line-height: 48px;
}

footer{
    height: 40px;
    padding: 10px 5px;
    background-color: #e5f7ef;
    font-size: 16px;
    text-align: center;

}

/* 版尾 */
/* .bottom{
    padding: 10px 5px;
    background-color: #e5f7ef;
    font-size: 16px;
    text-align: center;
} */